<!DOCTYPE html>
{% extends '_base.html' %}

  {% block content %}

  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">

  <h1>Best all-time board games!</h1>

    <ul>
      <li>Gloomhaven</li>
      <li>Pandemic Legacy: Season 1</li>
      <li>Brass: Birmingham</li>
      <li>Terraforming Mars</li>
      <li>Through the Ages: A New Story of Civilization</li>
    </ul>

  <p>According to our friends at
    <a href="https://www.boardgamegeek.com/browse/boardgame">BoardGameGeek</a>
  .<p/>

        </div>
      </div>
    </div>

<link rel='stylesheet' href='/static/css/styles_favorites.css'>

  {% endblock %}
