<!DOCTYPE html>
{% extends '_base.html' %}

  {% block content %}

  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">

        <h3>You might want to think twice before starting one of these games:</h3>
  <br>
    <ul>
      <li>Monopoly</li>
      <li>The Game of Life</li>
      <li>Candy Land</li>
      <li>Snakes and Ladders</li>
      <li>War</li>
    </ul>

  <p>According our friends at
    <a href="https://fivethirtyeight.com/features/the-worst-board-games-ever-invented/">FiveThirtyEight</a>,
    these games are among the worst (but somewhat widely played) games of all time.
    <p/>

        </div>
      </div>
    </div>

<link rel='stylesheet' href='/static/css/styles_worst_of.css'>

  {% endblock %}
